<p>Приветствую, <%= @resource.email %>!</p>

<p>Кто-то пригласил вас на <%= root_url %>, вы можете подтвердить приглашение, пройдя по ссылке.</p>

<p><%= link_to 'Подтвердить приглашение', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p>Если вы не хотите подтверждать приглашение, просто проигнорируйте данное письмо.<br />
Ваш аккаунт не будет создан, пока вы не пройдете по ссылке и не установите свой пароль.</p>
