<p>Приветствую, <%= @resource.email %>!</p>

<p>Кто-то отправил запрос на смену вашего пароля, и вы можете сделать это, пройдя по ссылке.</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не запрашивали этого, просто проигнорируйте данное письмо.</p>
<p>Ваш пароль не будет изменен, пока вы не пройдете по ссылке и не введете новый пароль.</p>
